
<div class="nav-side-menu">
    <div class="menu-list">
        <h6>Categories</h6>
        <ul id="menu-content" class="menu-content collapse out">
            <!-- Single Item -->
            <li data-toggle="collapse" data-target="#women" class="collapsed active">
                <a href="#">Book <span class="arrow"></span></a>
            
            </li>
            <!-- Single Item -->
            <li data-toggle="collapse" data-target="#man" class="collapsed">
                <a href="#">Newspaper <span class="arrow"></span></a>
                
            </li>
            <!-- Single Item -->
            <li data-toggle="collapse" data-target="#kids" class="collapsed">
                <a href="#">Magazine <span class="arrow"></span></a>
               
            </li>
        </ul>
    </div>
</div>