@model BookStoreV10.Models.Book
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Delete Book</h1>
<table id="customers">
<tr>
    <th>
        Title
    </th>
    <th>
        Author
    </th>
        <th>
            Publisher
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
    <th></th>
</tr>
<div>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Author.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Publisher.PublisherName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Describe)
        </td>
        <td>
            $@Html.DisplayFor(model => model.Price)
        </td>
        <td>
            <img src="/img/product-img/@Html.DisplayFor(model => model.Image)" alt="No Image" style="height: 300px; width:300px; margin-left:100px">
        </td>

        <td>
            <form asp-action="Delete">
                <input type="hidden" asp-for="BookId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                
            </form>
            <button class="btn btn-light">
                <a asp-action="Index" style="text-decoration: none; color: inherit;">Back to List</a>
            </button>
        </td>
    </tr>
</div>
</table>



