@model Admin
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
@using (Html.BeginForm("LoginAdmins", "LoginAdmin", FormMethod.Post))
{

    <div class="page-wrapper">
        <div class="prompt-container">
            <h1>Login Admin</h1>

            @using (Html.BeginForm("ActionName", "ControllerName", FormMethod.Post))
            {
                <label for="uname"><b>Admin Name</b></label>
                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Enter Name" })

                <label for="psw"><b>Password</b></label>
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter Password" })

                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                <div style="margin-top: 5px;">
                    @if (ViewBag.LoginAdminStatus != null && ViewBag.LoginAdminStatus == 0)
                    {
                        <div style="color: #ff0000; background-color:#fff;
                                                ">
                            <p>
                                Invalid Email or Password, please try again.
                            </p>
                        </div>
                    }
                </div>
                <button type="submit">Sign in</button>
                <div class="container" style="    display: flex;justify-content: end;margin-top: 20px;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Cancel</a>
                </div>
            }
           
        </div>
        
    </div>

}