@model BookStoreV10.Models.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<body style="background-color: #4339c6;">

    <div style="display:flex; align-items:center; justify-content:center; margin-top: 110px;">
    <div style="display:flex; justify-content:center; width: 25%; padding: 10px 10px; height:100%; background-color:#fff; border-radius:5px;">

<div class="row" >

    <div class="col-md-5" >
                    <h1 style="display:flex; justify-content:center;">Register</h1>

        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="Email" style="margin-right: 30px;" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"  class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                    <label asp-for="Phone" style="margin-right: 25px;" class="control-label"></label>
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                    <label asp-for="Gender" style="margin-right: 20px;" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
                <div class="form-group" style="display:flex; align-items:center; justify-content: center;">
                    <button type="submit" value="Register" class="btn btn-primary" style="cursor:pointer;">Register</button>
                <div>
                    <button style="margin-left:50px;" class="" asp-area="" asp-controller="Login" asp-action="Login">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
 </div>
    </div>
</body>
               